@{
    ViewBag.Title = "Listar Veterinários";
}

<h2 class="text-center">VETERINÁRIOS ENCONTRADOS <i class="fa-solid fa-paw"></i></h2>

@if (ViewBag.ListaVeterinarios != null && ViewBag.ListaVeterinarios.Count > 0)
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Cod</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var veterinario in ViewBag.ListaVeterinarios)
            {
                <tr>
                    <td>@veterinario.codVeterinario</td>
                    <td>@veterinario.nomeVeterinario</td>
                    <td>@veterinario.telVeterinario</td>
                    <td>@veterinario.EmailVeterinario</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info">Nenhum veterinário encontrado.</div>
}
